@using System.Web.Optimization
@model Aafp.Events.Web.ViewModels.ViewModelBase

<footer class="running-total twelve-column float-left no-gutter twelve-column extra-width">
    <div class="running-total__container">
        <div class="running-total__btn">
            <input id="paymentButton" type="button" class="button button-large" value="Save &amp; Continue" />
            <button class="button button-large white" href="#" id="processingButton" style="display: none"><i class="fa fa-spin fa-spinner"></i> Processing</button>
        </div>
        <div class="running-total__price">
            Total: <span id="paymentTotal">@Model.CurrentTotal.ToString("C")</span>
        </div>
    </div>
</footer>

@Scripts.Render("~/bundles/payment-bar-js")