@model Aafp.Events.Admin.ViewModels.Registration.UserSearchViewModel

<header class="qr-header">
    <div class="layout">
        <h2 class="qr-header__title">
            <a href="~/registration">Quick Registration</a>
        </h2>
        @Html.Partial("_UserSearchBar", Model)
        <div class="clearfix"></div>
    </div>
</header>
