<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<!--DEV Database -->
		<add name="EOConnString" connectionString="Data Source=C42KQC\EXAM1RLS;Initial Catalog=ExamOneQC;User ID=IUSR_EXAMVIEW;Password=IUSR_EXAMVIEW"
		 providerName="System.Data.SqlClient" />

		<!--QC Database
		<add name="EOConnString" connectionString="data source=QADBATEST.labone.com;initial catalog=ExamOneQC;User ID=IUSR_EXAMVIEW; Password=IUSR_EXAMVIEW"
		 providerName="System.Data.SqlClient" />-->

		<!--PROD Database
		<add name="EOConnString" connectionString="data source=EXAMONE.labone.com;initial catalog=examcentral;User ID=IUSR_EXAMVIEW; Password=IUSR_EXAMVIEW"
		 providerName="System.Data.SqlClient" /> -->
		
	</connectionStrings>

	<appSettings>
		<add key="StatusFolder" value=".\Incoming"/>
		<add key="ProcessedFolder" value=".\Processed"/>
		<add key="mailServer" value="mail.labone.com"/>
		<add key="emailFrom" value="FirstCallStatusFiles@labone.com"/>
		<add key="emailTo" value="carolyn.schroeder@labone.com"/>
		<add key="emailCC" value="carolyn.schroeder@labone.com"/>
	</appSettings>
</configuration>