<div class="clearfix"></div>
<footer role="banner" class="simple-footer">
    <div class="site-row row--b">
        <div class="site-row__container simple-footer__container">
            <div class="simple-footer__links">
                <p>
                    <a href="https://nf.aafp.org/myacademy/contactus">Contact</a>&nbsp;|&nbsp;
                    <a href="http://www.aafp.org/about-site.html">About This Site</a>&nbsp;|&nbsp;
                    <a href="http://www.aafp.org/about-site/about/privacy.html">Privacy Policy</a>&nbsp;|&nbsp;
                    <a href="http://www.aafp.org/about-site/requests/terms.html">Terms of Use</a>
                </p>
            </div>
            <div class="simple-footer__copyrights">
                <p>
                    Copyright &copy; 2016 American Academy of Family Physicians.
                    All&nbsp;rights&nbsp;reserved.
                </p>
                <p></p>
            </div>
        </div>
    </div>
</footer>
<!-- Google Tag Manager -->
<noscript>
    <iframe src="//www.googletagmanager.com/ns.html?id=GTM-PXLQG7" height="0" width="0" style="display:none;visibility:hidden"></iframe>
</noscript>
<script>
    (function (w, d, s, l, i) { w[l] = w[l] || []; w[l].push({ 'gtm.start': new Date().getTime(), event: 'gtm.js' }); var f = d.getElementsByTagName(s)[0], j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src = '//www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f); })(window, document, 'script', 'dataLayer', 'GTM-PXLQG7');
</script>
<!-- End Google Tag Manager -->

