@model Aafp.EmailSender.Api.Dtos.AlsoLearnerMessageDto
@{
    ViewBag.Title = "ALSO Learner Welcome";
}

<p>
    Congratulations! Get your letter of participation here ==>  @Model.LetterofParticipationUrl
</p>