@model Aafp.EmailSender.Api.Dtos.AlsoStatusChangeMessageDto
@{
    ViewBag.Title = "ALSO Status Change - Approved Instructor Wallet Cards";
}

<p>
    Name: @Model.FirstName @Model.LastName 
    Start Date: @Model.StartDate
    Expiration Date: @Model.ExpirationDateDisplay
</p>