<header class="qr-header">
    <div class="layout">
        <h2 class="qr-header__title">
            <a href="~/registration">Quick Registration</a>
        </h2>
        <div class="clearfix"></div>
    </div>
</header>

