<div class="alert-box -warning" id="alertFalse" style="display: none;">
    <div class="alert-box__icon"><span class="icon-circle">!</span></div>
    <div class="alert-box__content">
        <h2 class="alert-box__title">We're sorry.</h2>
        <p>There was a problem with our system, and your credits could not be reported. Please talk to an AAFP representative on site, contact the Member Resource Center at <a href="tel:800-274-2237">800-274-2237</a> or email <a href="mailto:aafp@aafp.org">aafp@aafp.org</a>. We apologize for the inconvenience.</p>
    </div>
</div>