@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Welcome</h1>
    <p class="lead">Here you will find the Admin Utilities Portal.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Create AD User</h2>
        <p>
            Click here to create an Active Directory User.
        </p>
        <p>
            <a href="/AdminTool/Home/ActiveDirectoryUser" class="btn btn-primary" role="button">Click Here</a>
        </p>
    </div>
    <div class="col-md-4">
        <h2>Add/Update Hydra User</h2>
        <p>
            Click here if you need to add a Hydra user or update their permissions.
        </p>
        <p>
            <a href="/AdminTool/Home/HydraUser" class="btn btn-primary" role="button">Click Here</a>
        </p>
    </div>
    <div class="col-md-4">
        <h2>Coming Soon - Nav Tools!</h2>
        <p>
            Click here if you want to make changes to Nav.
        </p>
    </div>
</div>