<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<!-- All Failed XML Payloads Will Be Saved Here -->
		<add key="ErrorQueue" value=".\private$\Quest.JobScheduler.Billing.Error"/>

		<!-- All Successful XML Payloads Will Be Saved Here -->
		<add key="ProcessedQueue" value=".\private$\Quest.JobScheduler.Billing.Processed"/>

		<!-- This is the logging file-->
		<add key="AuditQueue" value=".\private$\Quest.JobScheduler.Billing.Audit"/>
		<!-- Logging Level Is A Bit Flag Enum -->

		<!-- 0=None, 1=Notification, 2=Trace, 4=Debug, 8=Warning, 16=Error, 31=Complete Logging -->
		<add key="LoggingLevel" value="31"/>

		<add key="XMIT" value="$$$HEADER TO:0000002135 FROM:EXAM_BILLING SUBJECT:EV_Billing"/>
	</appSettings>

	<connectionStrings>
		<clear/>
		<add name="Billing.DBConnection" providerName="System.Data.SqlClient" connectionString="User ID=IUSR_EXAMVIEW;Password=IUSR_EXAMVIEW;Initial Catalog=ExamCentral;Data Source=LENWS0637"/>
	</connectionStrings>
</configuration>