@model string

<div class="alert-box -warning">
    <div class="alert-box__icon"><span class="fa fa-support fa-2x -white"></span></div>
    <div class="alert-box__content">
        <h3>We're sorry. An error has occurred.</h3>
        <p>@Model</p>
    </div>
</div>