<div class="mini-dashboard">
    <h1 class="mini-dashboard__title"><a href="#">My Membership Status</a></h1>
    <div class="mini-dashboard__wrapper">
        <div class="mini-dashboard__data dashboard-alpha">
            <a class="dashboard-alpha__label">Re-Election status</a>
            <a class="dashboard-alpha__value dashboard-alpha__value--good">In Good Standing</a>
        </div>
        <div class="mini-dashboard__data dashboard-alpha">
            <a href="#" class="dashboard-alpha__button button button-secondary">Report CME</a>
            <a href="#" class="dashboard-alpha__button button button-secondary">View Transcript</a>
        </div>
    </div>
</div>